<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Index</title>
</head>
<body>
    <h1>Users</h1>
    <table>
        <thead>
            <th>id</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Created At</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {% for user in all_users %}
            <tr>
                <td>{{user.id}}</td>
                <td><a href="/users/{{user.id}}">{{user.name}}</a></td>
                <td>{{user.age}}</td>
                <td>{{user.date}}</td>
                <td><a href="/users/{{user.id}}">Show</a> <a href="/users/{{user.id}}/edit">Edit</a> <a href="/users/{{user.id}}/destroy">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/users/new">Add a new user</a>
</body>
</html>