<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users Show</title>
</head>
<body>
    <h1>User {{user.id}}</h1>
    <p>Full Name: {{user.name}}</p>
    <p>Age: {{user.age}}</p>
    <p>Created at: {{user.date}}</p>
    <br/>
    <p><a href="/users/{{user.id}}/edit">Edit</a> | <a href="/users/{user.id}}/destroy">Delete</a>
</body>
</html>